{% extends 'layout.twig' %}

{% block content %}
<main>

<div class="contentContainer">

{# titre #}
<div class="titreContainer"> 
<h1> {{Compagny_Name}} </h1>
<h2> Catch Phrase</h2> 
</div>
{# Intro + url  #}
<p> At {{Compagny_Name}}, we create {{productAdjective}}<br>
{{productName}} made of {{productMateriel}}<br><br>
Find out more one {{'url'}}</p>

{# Encadré Produit #}
<div class="productContainer">
{# Image Produit  #}
<div class="placeHolderImg">
<img src={{imgProduct}}/>
</div>
<h2>{{productName}}</h2>
<p> Materiel: {{productMateriel}}<br>
Color: {{Color}}
<h2>{{Price}} $ only !</h2>
<button> Take my money</button> 
</div>


</div>


{# FinproductContainer #}
{% endblock %}


{% block contact %}
<div class="contactContainer">

<div class="placeHolderPict">
<img src={{picture}}/>
</div> 
<h2>{{UserName}}</h2>
<h2>{{Job}}</h2>
<h2>Contact Info</h2>
<p> email@email.com<br>
06 06 06 06 06<br><br>
13 rue Vieille<br>
92500 Ville Inconnue 
</p>  
</div>
</main>
{% endblock %}
