<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Page Profil</title>
</head>
<body>
   
        {% block content %} {% endblock %}
        {% block contact %} {% endblock %}
</body>
</html>