body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size : 25px;
}

h2 {
    font-size: 20px;
}

main{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
}

.titreContainer {
    text-align: center;
}
.contentContainer {
    width: 680px;
    text-align: center;
}

.contactContainer {
    width: 400px;
    text-align: center;
}

.placeHolderImg {
    width: auto;
}

img 

.productContainer {
    width:400px;
    border: 2px solid;
    text-align: center;
    margin: auto;
}

.placeHolderPict {
    align-content: center;
    height: 250px;
    width: 250px;
    border-radius :50%;
    
}